@model Furniture.Models.AboutU

@{
    ViewData["Title"] = "Edit";
}

    <div class="container px-4 mt-4">

        <div class="row">

            <div class="col-xl-8">
           
                <div class="card mb-4">
                    <div class="card-header">Edit About us</div>
                    <div class="card-body">
                            <form asp-action="Edit" enctype="multipart/form-data">
                                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                
                            <div class="mb-3">
                               <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                      
                            <div class="row gx-3 mb-3">
                         
                                <div class="col-md-6">
                                               <label asp-for="Pargraph1" class="control-label"></label>
                    <input asp-for="Pargraph1" class="form-control" />
                    <span asp-validation-for="Pargraph1" class="text-danger"></span>
                                </div>
                            
                                <div class="col-md-6">
                                              <label asp-for="Pargraph2" class="control-label"></label>
                    <input asp-for="Pargraph2" class="form-control" />
                    <span asp-validation-for="Pargraph2" class="text-danger"></span>
                                </div>

                                  <div class="col-md-6">
                                               <label asp-for="Pargraph3" class="control-label"></label>
                    <input asp-for="Pargraph3" class="form-control" />
                    <span asp-validation-for="Pargraph3" class="text-danger"></span>
                                      </div>
                            </div>
                      
                           
                        
                 
                              <input type="submit" class="btn btn-primary">Edit</a> 

                                 <a asp-action="Index" class="btn btn-primary">Back to List</a>


                              </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }